@import "../../styles/colors.scss";

.background {
  background-color: $color-sja-dark-green;
  min-height: 100vh;
  position: relative;
  padding: 10px;
}

.centreBox {
  background-color: $color-sja-white;
  width: calc(100%-20px);
  border-radius: 5px;
  padding: 10px;
}

.p {
  h1 {
    text-align: center;
    color: $color-sja-dark-green;
  }

  h2 {
    text-align: center;
    color: $color-sja-black;
    font-size: 1.5rem;
  }

  h3 {
    color: $color-sja-black;
    font-size: 1.5rem;
  }

  p,
  li {
    color: $color-sja-black;
    font-size: 1.25rem;
  }
}

footer {
  margin-bottom: 6px;
  color: lighten($color: $color-sja-black, $amount: 50);
}
