$color-sja-light-green: rgb(0, 159, 77);
$color-sja-dark-green: rgb(0, 122, 83);
$color-sja-yellow: rgb(225, 224, 0);
$color-sja-black: black;
$color-sja-gray: rgb(151, 153, 155);
$color-sja-white: white;
