@import "../styles/colors";

.dashboardBackground {
  background-color: $color-sja-white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.dashboardButton + .dashboardButton {
  margin-top: 10px;
}
